<h1 md-dialog-title><md-icon class="offline">signal_wifi_off</md-icon>Vous n'êtes pas connecté <a class="close" (click)="close()">&times;</a></h1>
<div md-dialog-content>
  <p>
    Cette action n'est pas possible hors-connexion.
  </p>
  <p>
    Cette action n'est pas possible hors-connexion.<br/>
    Si vous n'êtes pas en mesure de vous connecter à Internet, vous pouvez toujours passer commande auprès de votre commerçant par téléphone au <a href="tel://{{data.compagny.telephoneNumber}}">{{data.compagny.telephoneNumber}}</a>
  </p>
</div>
