.close {
  float: right;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.close:hover {
  color: #06D85F;
}

.offline {
  color: #BDC7CF;
  font-size: 40px;
  color: #06D85F;
  padding-right: 20px;
}

