.headerContent {
    background:rgba(0,0,0,0.75);
    opacity:0.75;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;-ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;-ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 16px;
  }
  header {
    height: calc(100vh - 64px);
    background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/19983741_1920378691572209_4092098315347183459_o.jpg?oh=701ba1815e7c82a0be50eefd3818263a&oe=5A59643D');
    backgrond-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .headerContent > h2 {
    font-size: 56px;
    font-weight: 300;
    margin: 0;
  }
  
  .headerContent > p {
    font-size: 32px;
  }
  
  section {
    padding: 88px 16px;
  }
  
  .container {
    display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
  
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
          max-width: 800px;
          margin: 0 auto;
  }
  
  .container > * {
    -ms-flex: 1 1 0.000000001px;
        -webkit-flex: 1;
        flex: 1;
        -webkit-flex-basis: 0.000000001px;
        flex-basis: 0.000000001px;
  }
  
  .container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .container h3 {
    font-size: 32px;
          font-weight: 300;
          margin: 24px 0;
  }
  
  .container p {
    line-height: 1.5;
  }
  
  .addToCart svg{
    width : 50px;
    height: 50px;
  }
  .addToCart:hover{
    background-color: #5A5959;
    fill: #FFFFFF;
  }
  
  @media (max-width: 600px) {
    .container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
  
  }

  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .popup svg {
    fill: #06D85F;
    width: 25px;
    height: 25px;
  }
  .product-name {
    font-weight: bold;
  }