
<img [src]="compagny?.image" id="header_image"/>
<header *ngIf="compagny">
  <div id="header_titre">
      <h2>{{compagny.title}}</h2>
      <p>{{compagny.subTitle}}</p>
      <p>
        {{compagny.addressLine1}} <br/>
        <span *ngIf="compagny.addressLine2">{{compagny.addressLine2}} <br/></span>
        <span *ngIf="compagny.addressLine3">{{compagny.addressLine3}} <br/></span>
        {{compagny.postalCode}} - {{compagny.town}} <br/>
        {{compagny.telephoneNumber}} <br/>
        {{compagny.emailAddress}}
      </p>
    </div>
</header>

<div class="product-list">
  <md-card class="item" *ngFor="let product of products">
    <div class="buttons">
      <a class="addToCart" (click)="addToCart(product)">
        <md-icon class="add-icon">add_circle_outline</md-icon>
      </a>
    </div>

    <div class="image">
      <img [src]="product.image" alt="" />
    </div>

    <div class="description">
      <span class="product-name">{{product.name}}</span>
      <span>{{product.desc}}</span>
    </div>

    <div class="total-price">{{product.price}} €</div>
  </md-card>
</div>
