@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}
#header_image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

header {
  position: relative;
  text-align: center;
}

#header_titre {
  margin: auto;
  backgrond-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;

  width:50%;
  /* styling bellow */
  background-color:black;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
  border-radius: 20px;
}
#header_titre > h2 {
  font-size: 56px;
  font-weight: 300;
  margin: 0;
}
#header_titre > p {
    font-size: 32px;
}

.product-list{
  width: 800px;
  margin: 80px auto;
  background: #FFFFFF;

  display: flex;
  flex-direction: column;
}

.item {
  padding: 20px 30px;
  display: flex;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  add */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.addToCart {
  display: inline-block;
  cursor: pointer;
  width : 50px;
  height: 50px;
  margin-right: 20px;
}

.add-icon {
  color: #BDC7CF;
  font-size: 40px;
}

.add-icon:hover {
  color: #06D85F;
}
/* Product Image */
.image {
  margin-right: 50px;
}
.image img {
  width: 150px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 300px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  margin-top: 8px;
  color: #86939E;
}

/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
  #header_titre > h2 {
    font-size: 32px;
  }

  #header_titre > p {
    font-size: 20px;
  }

  .product-list {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .buttons {
    width: 100%;
    text-align: center;
    margin-right: 0px;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}

