@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

#header_image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

header {
  position: relative;
}

#header_titre {
  backgrond-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin: auto;

  width:50%;
  /* styling bellow */
  background-color:black;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
  border-radius: 20px;
}
#header_titre > h2 {
  font-size: 56px;
  font-weight: 300;
  margin: 0;
}
#header_titre > p {
  font-size: 32px;
}

.shopping-cart {
  width: 800px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.title .button{
  float: right;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: -15px;
}

.title .button:hover {background-color: #e7e7e7;}

.actions {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 0px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.actions .button{
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.actions .button:hover {background-color: #e7e7e7;}

.item {
  padding: 20px 30px;
  display: flex;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.removeFromCart {
  display: inline-block;
  cursor: pointer;
  width : 50px;
  height: 50px;
  margin-right: 20px;
}

.delete-btn {
  color: #BDC7CF;
  font-size: 40px;
}

.delete-btn:hover {
  color: #FF0000;
}



/* Product Image */
.image {
  margin-right: 50px;
}
.image img {
  width: 150px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 300px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  margin-top: 8px;
  color: #86939E;
}
.product-name {
  font-weight: bold;
}
/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.order-dialog{
  width: 50%;
}
/* Responsive */
@media (max-width: 800px) {
  #header_titre {
    width: 80%;
  }

  #header_titre > h2 {
    font-size: 32px;
  }

  #header_titre > p {
    font-size: 20px;
  }
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .buttons {
    width: 100%;
    text-align: center;
    margin-right: 0px;
  }
  .delete-btn {
    margin: 6px 0;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .order-dialog{
    width: 80%;
  }
}
