@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

.headerContent {
  background:rgba(0,0,0,0.75);
  opacity:0.75;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;-ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;-ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 16px;
}
header {
  height: calc(50vh - 64px);
  background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/19983741_1920378691572209_4092098315347183459_o.jpg?oh=701ba1815e7c82a0be50eefd3818263a&oe=5A59643D');
  backgrond-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.headerContent > h2 {
  font-size: 56px;
  font-weight: 300;
  margin: 0;
}

.headerContent > p {
  font-size: 32px;
}

.shopping-cart {
  width: 800px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.actions {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 0px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.actions .button{
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.actions .button:hover {background-color: #e7e7e7;}

.item {
  padding: 20px 30px;
  display: flex;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  margin-right: 20px;
}

.delete-btn svg {
  fill: #BDC7CF;
}

.delete-btn svg:hover {
  fill: #FF0000;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.image {
  margin-right: 50px;
}
.image img {
  width: 150px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 300px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  margin-top: 8px;
  color: #86939E;
}
.product-name {
  font-weight: bold;
}
/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .buttons {
    width: 100%;
    text-align: center;
    margin-right: 0px;
  }
  .delete-btn {
    margin: 6px 0;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.popup svg {
  fill: #06D85F;
  width: 25px;
  height: 25px;
}
