<img [src]="compagny?.image" id="header_image"/>
<header *ngIf="compagny">
  <div id="header_titre">
    <h2>{{compagny.title}}</h2>
    <p>{{compagny.subTitle}}</p>
  </div>
</header>

<div class="shopping-cart">

  <!-- Title -->
  <div class="title">
    Votre commande
    <!-- actions -->
    <button *ngIf="cart && !cart?.isValidated" class="button" (click)="openReservation()">Réserver</button>
  </div>


  <md-card class="item" *ngFor="let product of cart?.products">
    <div class="buttons">
      <a *ngIf="!cart?.isValidated" class="removeFromCart" (click)="removeProduct(product)">
        <md-icon class="delete-btn">close</md-icon>
      </a>
    </div>

    <div class="image">
      <img [src]="product.image" alt="" />
    </div>

    <div class="description">
      <span class="product-name">{{product.name}}</span>
      <span>{{product.desc}}</span>
    </div>

    <div class="total-price">{{product.price}} €</div>
  </md-card>

  <!-- actions -->
  <div class="actions">
    <a class="lastOrder" (click)="switch()">
      <span *ngIf="lastOrder && !cart?.isValidated"><i class="material-icons">restore</i>Revoir votre dernière commande</span>
      <span *ngIf="cart?.isValidated"><i class="material-icons">shopping_basket</i>Retour à votre panier</span>
    </a>
    <button *ngIf="cart && !cart?.isValidated" class="button" (click)="openReservation()">Réserver</button>
  </div>
</div>
