<div id="background">
  <div id="backgroundRearLayer"></div>
  <div id="backgroundFrontLayer"></div>
</div>
<div id="contentContainer">
  
    
    <nav class="toolbar">



      <div class="tabs ">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
      </div>
    
</nav>

    <header>
      <h2>{{title}}</h2>
      <p>Made with App Layout Elements</p>
    </header>

    <section id="about">
      <div class="container ">
        <div>
          <img src="Landing%20Page_fichiers/berries.jpg">
        </div>
        <div>
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet, per
in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor 
sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
          <p>Convenire definiebas scriptorem
eu cum. Sit dolor dicunt consectetuer no. Convenire definiebas 
scriptorem eu cum. Sit dolor dicunt consectetuer no.</p>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container ">
        <div>
          <img src="Landing%20Page_fichiers/tomato.jpg">
        </div>
        <div>
          <h3>Services</h3>
          <p>Lorem ipsum dolor sit amet, per
in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor 
sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
          <p>Convenire definiebas scriptorem
eu cum. Sit dolor dicunt consectetuer no. Convenire definiebas 
scriptorem eu cum. Sit dolor dicunt consectetuer no.</p>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container ">
        <div>
          <img src="Landing%20Page_fichiers/red-onion.jpg">
        </div>
        <div>
          <h3>Contact</h3>
          <p>Lorem ipsum dolor sit amet, per
in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor 
sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
          <p>Convenire definiebas scriptorem
eu cum. Sit dolor dicunt consectetuer no. Convenire definiebas 
scriptorem eu cum. Sit dolor dicunt consectetuer no.</p>
        </div>
      </div>
    </section>

