<div id="background">
  <div id="backgroundRearLayer"></div>
  <div id="backgroundFrontLayer"></div>
</div>
<div id="contentContainer">
  

    <nav class="toolbar">



      <div class="tabs ">
        <a href="#about" class="">About</a>
        <a href="#services" class="">Services</a>
        <a href="#contact" class="">Contact</a>
      </div>
    
</nav>

    <header class="">
      <h2 class="">Welcome To Our Landing Page</h2>
      <p class="">Made with App Layout Elements</p>
    </header>

    <section id="about" class="">
      <div class="container ">
        <div class="">
          <img src="Landing%20Page_fichiers/berries.jpg" class="">
        </div>
        <div class="">
          <h3 class="">About</h3>
          <p class="">Lorem ipsum dolor sit amet, per
in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor 
sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
          <p class="">Convenire definiebas scriptorem
eu cum. Sit dolor dicunt consectetuer no. Convenire definiebas 
scriptorem eu cum. Sit dolor dicunt consectetuer no.</p>
        </div>
      </div>
    </section>

    <section id="services" class="">
      <div class="container ">
        <div class="">
          <img src="Landing%20Page_fichiers/tomato.jpg" class="">
        </div>
        <div class="">
          <h3 class="">Services</h3>
          <p class="">Lorem ipsum dolor sit amet, per
in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor 
sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
          <p class="">Convenire definiebas scriptorem
eu cum. Sit dolor dicunt consectetuer no. Convenire definiebas 
scriptorem eu cum. Sit dolor dicunt consectetuer no.</p>
        </div>
      </div>
    </section>

    <section id="contact" class="">
      <div class="container ">
        <div class="">
          <img src="Landing%20Page_fichiers/red-onion.jpg" class="">
        </div>
        <div class="">
          <h3 class="">Contact</h3>
          <p class="">Lorem ipsum dolor sit amet, per
in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor 
sit amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
          <p class="">Convenire definiebas scriptorem
eu cum. Sit dolor dicunt consectetuer no. Convenire definiebas 
scriptorem eu cum. Sit dolor dicunt consectetuer no.</p>
        </div>
      </div>
    </section>

